.eunit
deps
*.o
*.beam
*.plt
*.fxs
*~
confd/src/yang/*/*.hrl
confd/src/yang/*/*/*.hrl
TAGS
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.crypt
doc/*.html
doc/stylesheet.css
doc/erlang.png
doc/edoc-info
.#*
_build
rebar.lock
.DS_Store
.settings/
.project
native/target
priv/*.so
