{plugins, [{rebar3_cargo, {git, "https://github.com/rusterlium/rebar3_cargo.git", {branch, master}}}]}.
{erl_opts, [debug_info]}.
{deps, []}.

{provider_hooks, [
    {pre, [{compile, {cargo, build}}]},
    {post, [
        {clean, {cargo, clean}},
	{eunit, {cargo, test}}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rustler_test]}
]}.

{relx, [{release, {rustler_test, "0.1.0"},
         [rustler_test]},
        
        {dev_mode, true},
        {include_erts, false},
        
        {extended_start_script, true}]}.
