{erl_opts, [debug_info]}.
{deps, []}.

%% Build the rust code via a compile hook
{pre_hooks, [{compile, "cargo build --manifest-path native/Cargo.toml --release"}]}.
{post_hooks, [{compile, "cp native/target/release/librustler_test.so priv"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rustler_test]}
]}.

{relx, [{release, {rustler_test, "0.1.0"},
         [rustler_test]},
        
        {dev_mode, true},
        {include_erts, false},
        
        {extended_start_script, true}]}.
